/*--------estilo de mi head-----*/
header {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: #fff;
    height: 90px;
    width: 100%;
}

.parrafo {
    color: #fff;
    font-size: 12px;
    margin-left: 5%;
}
/* .fondo {
    background-image: url(../img/WmGGKNM996UamQTGaChBtXx3.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 120%;
} */

.navbar-logo {
  margin-top: 20px;
  margin-left: 20px;    
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  float: left;
  background-image: url(../img/probabilidad.png);
}


header .navbar-logo h1 {
    position: absolute;
    margin-left: 40%;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*------ Utilities ------*/
.gray-dark{
    background-color: #3b444b;
}
.gray-medium{
    background-color: #62676b;
}
.gray-green{
    background-color: darkslategray;
}
.gray-soft{
    background-color: #bac7b6;
}
.gold{
    background-color: #f0c50f;
}

/*----- el cambio de estilo , de inputs y boton -----*/
input[type="button"],
button{
    border-radius: 50%;
    border-style: none;
    width: 19%;
    height: 21%;
    margin: 2%;
    color: white;
    font-weight: 800;
    font-size: 15px;
}
button:focus,
input:focus{
    outline: none;
}

/*----------- flex de mi css ------------*/
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} 
.flex-content{
    vertical-align: middle;
    width: 280px;
}

/*---------- cabeza de mi css head  de calculadora--------*/
.head{
    height: 80px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}

/*-------- el estelo de content ---------*/
.content {
    height: 200px;
    padding: 9% 7% 40% 7%;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
    text-align: center;
}

/*------ estilos de mi pantalla --------*/
.screen-case {
    height: 42px;
    background-color: darkgray;
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.screen {
    border-style: none;
    width: 100%;
    height: 40px;
    font-weight: 800;
    font-size: 30px;
    text-align: right;
    color: white;
}

/*------- estilos para mi hr ------*/
hr {
    background: white;
    height: 2px;
    border-style: none;
}

/*------ estilo general a html y body ------*/
html,body,section {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  'khula', sans-serif;
    background-color: ghostwhite;
}



/*--------estilos de mi footer-----------*/
footer {
    background-color: #222326;
    color: #fff;
   /*  height: 60px;
    width: 100%; */
}

.footer .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    margin-bottom: 2%;
} 
